.btn-theme-form{
    background-color: #00B060 !important;
    border: none !important;
    color: white !important;
    width: 50%;
}

.btn-secondary-form{
    color: white !important;
    width: 50%;
}
.btn-secondary-form:hover{
    width: 55%;
}
.btn-theme-form:hover{
    width: 55%;
}

.formLabel{
    margin-top: 15%;
}

table ,th{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;}

td{
    border-top: none !important;
    border-left: none !important;
    border-right: none !important;
}

.form-control{
    width: 100px;



}