.submitBtn{
  left: 50%;
  width: 70%;
  margin-left: 25%;
}

.formContainer{
  margin-top: 20px;
}

.formLabel{
  margin-bottom: 50px;
}
.registered {
  text-decoration: none;
  border-bottom: 1px solid #00B060;
}